/* 搜索框样式 */
.search-box {
    padding: 16px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: var(--card-bg);
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    font-size: 16px;
    transition: background 0.3s;
    width: 1000px;
}

.search-box:focus {
    background: #f0f0f0;
}
