/* 登录标签 */
.tag {
    display: inline-block;
    background-color: var(--tag-bg-default);
    color: var(--tag-text-default);
    font-size: 0.5em;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

/* 邮箱登录标签 */
.mail-tag {
    background-color: var(--tag-bg-purple);
    color: var(--tag-text-purple);
}

.num-tag {
    background-color: var(--tag-bg-green);
    color: var(--tag-text-green);
}

.card-tag {
    background-color: var(--tag-bg-red);
    color: var(--tag-text-red);
}

.tag-display {
    line-height: 180px;
}