/* 悬浮框 */
.tooltip {
    position: absolute;
    background-color: var(--tooltip-bg);
    width: auto !important;
    left: 0;
    top: 0;
    color: var(--tooltip-text);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: pre-line;
    z-index: 9999;
}