.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.container-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 1000px;
}

@media (max-width: 768px) {
    .search-box {
        width: 90%;
    }
}
