/* 默认亮色颜色 */
:root {
    --bg-pattern: #f6f7f9;       /* 背景图案颜色 */
    --bg-line: #ffffff;          /* 背景线条颜色 */

}

/* 暗色模式颜色 */
html[data-theme="dark"] {
    --bg-pattern: #121212;
    --bg-line: #2d2d2d;
}