/* 卡片样式 */
.card {
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    background-color: var(--card-bg);
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    min-width: 270px;
}

.card:hover {
    background: var(--card-bg-hover);
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); */
}

.card h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--title);
}

.card p {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: var(--text);
    flex-grow: 1;
}

.card .description-content {
    margin-bottom: 32px;
}

.site-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.site {
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    color: var(--title);
    text-decoration: none;
    margin-right: 5px;
}