/* 卡片样式 */
.card {
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    min-width: 270px;
}

.card:hover {
    background: #f5f5f5;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); */
}

.card h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #000000;
}

.card p {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #333;
    flex-grow: 1;
}

.card .description-content {
    margin-bottom: 32px;
}

.site-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.site {
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    color: #000000;
    text-decoration: none;
    margin-right: 5px;
}