.copy-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: background-color 0.4s;
}

.copy-icon:active {
    background-color: #888;
}