.copy-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: var(--icon);
    transition: background-color 0.4s;
}

.copy-icon:hover {
    background-color: var(--copy-icon-hover);
}

.copy-icon-active {
    background-color: var(--copy-icon-active) !important;
}